services:
  - type: web
    name: disaster-prediction-ai
    env: python
    region: oregon
    plan: free
    buildCommand: bash build.sh
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: PYTHONUNBUFFERED
        value: true

